# DH140_project


## Topic: Gender Gap in The Film Industry Through the Years

### Research
For this project, I am seeking to address the manner in which women have been represented in the film industry changed over time (roles, financing, Box office). How have these changes look when comparing films, not in English?

### Motivation
My motivation in doing so relies mainly on the fact as someone who identifies as a woman of color, I have always seen a gender gap in environments in most professional spaces I come across ranging from higher education to the world of entertainment. Though I have seen such spaces become more gender inclusive with time, I wish to see how the film industry specifically has improved. Additionally, how has Hollywood worked to include non-English speaking countries through time?

### Sources 
Dataset: https://github.com/taubergm/HollywoodGenderData/blob/master/all_actors_movies_gender_gold.csv

In this project, I am using the “All_actors_movies_gender_gold” dataset provided by user taubergm on GitHub. Containing hundreds of rows of data from 2000 to 2018, this dataset features several variables such as Film titles, country/language, financials, and cast information such as lead actor or actress and most importantly their gender.

### Data Exploration

As mentioned above this dataset is compiled of several variables such as Year and Date of Release, Film Name, Country, Budget/Gross (stop at September 2018), Film Runtime, Film Cast and Gender. This said, gender is categorized into a binary meaning cast members who may not feel identified by either category might be left out or misgendered. Additonally, it does not capture intersecting film cast identities such as gender and ethnicity.

Potential Data Visualizations (4): 

1)Line plot of the number of films released 2000 - 2018

2 & 3) Box plot comparing film funding for men vs women

4)Bar graph of language/country distribution in films

Other) Line plot film budget over time (use average for each year)

In [1]:
## DATA VIZ 1: Line Plot of Films released 2000 - 2018

import pandas as pd
hwdata = pd.read_csv('https://raw.githubusercontent.com/taubergm/HollywoodGenderData/master/all_actors_movies_gender_gold.csv')

,year,name,country,budget,gross,runtime,starring,language,released,gender
0,2000,Mission: Impossible 2,['United States'],125000000,546400000,123,Tom Cruise,['English'],2000/05/24,male
1,2000,Mission: Impossible 2,['United States'],125000000,546400000,123,Dougray Scott,['English'],2000/05/24,male
2,2000,Mission: Impossible 2,['United States'],125000000,546400000,123,Thandie Newton,['English'],2000/05/24,female
3,2000,Mission: Impossible 2,['United States'],125000000,546400000,123,Richard Roxburgh,['English'],2000/05/24,male
4,2000,Mission: Impossible 2,['United States'],125000000,546400000,123,John Polson,['English'],2000/05/24,male
...,...,...,...,...,...,...,...,...,...,...
20366,2018,Destroyer,['United States'],NaN,NaN,123,Nicole Kidman,['English'],2018/08/31,female
20367,2018,Destroyer,['United States'],NaN,NaN,123,Tatiana Maslany,['English'],2018/08/31,female
20368,2018,Destroyer,['United States'],NaN,NaN,123,Sebastian Stan,['English'],2018/08/31,male
20369,2018,Destroyer,['United States'],NaN,NaN,123,Toby Kebbell,['English'],2018/08/31,male
20370,2018,Destroyer,['United States'],NaN,NaN,123,Scoot McNairy,['English'],2018/08/31,male

In [ ]:
## DATA VIZ 2/3: Box plot comparing film funding for men vs women

In [ ]:
## DATA VIZ 3: Bar graph of language/country distribution in films

In [ ]:
## DATA VIZ ?: Line plot film budget over time (use average for each year)

### Beginnings of Analysis

Potential Data Visualizations: 

1)Bar chart of number of films with men in lead roles per year

2)Bar chart of number of films with women in lead roles per year

3)Scatter plot comparing budget/revenue for non-english language films for films with women leads

4)Line plot of budget by country

In [ ]:
## DATA VIZ 1: Bar chart of number of films with men in lead roles per year

In [ ]:
## DATA VIZ 2: Bar chart of number of films with women in lead roles per year

In [ ]:
## DATA VIZ 3: Scatter plot comparing budget/revenue for non-english language films for films with women leads

In [ ]:
## DATA VIZ 4: Line plot of budget by country